@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.article {
    position: relative;
    width: 100%;
    height: 200px;

    display: block;
    border-radius: 17px;
    overflow: hidden;

    .image {
        display: block;
        width: 100%;
        height: 100%;

        background-color: var(--secondary-bg-color);

        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
    }

    .details {
        width: calc(100% - 20px);
        height: auto;
        margin: 10px;
        padding: 3px 7px;

        position: absolute;
        bottom: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 5px;

        background-color: var(--primary-bg-color);
        border-radius: 7px;

        h3 {
            display: inline-flex;
            flex-wrap: wrap;
            align-items: center;
            column-gap: 7px;
            
            .title {
                font-size: 20px;
                font-weight: 700;
            }

            .type {
                padding: 3px 5px;

                border-radius: 5px;
                background-color: var(--secondary-bg-color);
        
                font-size: 12px;
                font-weight: 400;
                line-height: 1.2em;
            }
        }
        
        .articleFooter {    
            display: flex;
            justify-content: space-between;
            gap: 10px;
    
            span {
                display: inline-block;
        
                font-size: 14px;
                font-weight: 400;
            }
        
            .readingTime, 
            .date {
                font-size: 14px;
            }        
        }
    }
}
.article:hover {
    h3 {
        .title {
            text-decoration: 1px solid;
            text-decoration-color: var(--primary-t-color);
            text-decoration-line: underline;
        }
    }
}

@media screen and (max-width: 1024px) {
    .article {
        .title {
            font-size: 17px;
        }

        .articleFooter {    
            span {        
                font-size: 13px;
            }
        }
    }
}

@media screen and (max-width: 500px) { 
    .article {
        height: 230px;
    }
}

@media screen and (max-width: 425px) {
    .article {    
        .title {
            font-size: 19px;
        }

        .articleFooter {    
            padding: 0;
        }
    }
}