@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.projectDetails {
    padding: 30px;
    padding-top: 80px;

    .project {
        padding: 20px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 15px;
        
        background-color: var(--primary-bg-color);
        border-radius: 20px;

        h1 {
            margin-bottom: 5px;
    
            display: inline-flex;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 7px;
            column-gap: 12px;
            
            .title {
                cursor: pointer;
                font-size: 24px;
                font-weight: 700;
                line-height: 1.07em;
            }
        
            .status {
                padding: 3px 7px;
            
                border-radius: 5px;
        
                font-size: 12px;
                font-weight: 400;
                line-height: 1.2;
            }
            .statusOpen {
                background-color: #76a1e080;
            }
            .statusClose {
                background-color: #90d85580;
            }
        }
        h1.message {
            width: 100%;
            justify-content: center;
            text-align: center;
        }

        .description {
            margin-bottom: 7px;
        }

        .steck {
            margin-bottom: 5px;

            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            gap: 5px;

            .steckItem {
                display: inline-block;
                padding: 3px 7px;

                background-color: var(--secondary-bg-color);
                border-radius: 5px;

                font-size: 14px;
                font-weight: 400;
                line-height: 1.15em;
            }
        }

        .characteristics {
            margin-bottom: 7px;

            display: flex;
            flex-direction: column;
            row-gap: 7px;

            li {
                display: inline-flex;

                .field {
                    display: inline-block;
                    min-width: 90px;
                    width: 90px;

                    font-weight: 500;
                    line-height: 1.15em;
                }
            }
        }

        .visitGitHubLink {
            margin-bottom: 5px;
            
            display: inline-flex;
            align-items: center;
            column-gap: 7px;

            .icon {
                color: var(--secondary-t-color);
            }

            span {
                font-size: 15px;
                font-weight: 300;
                line-height: 1.1em;
            }
        }
        .visitGitHubLink:hover {
            span {
                text-decoration: 1px solid;
                text-decoration-color: var(--primary-t-color);
                text-decoration-line: underline;
            }
        }

        .buttons {
            width: 100%;

            display: flex;
            justify-content: flex-end;

            .visitLink {
                padding: 5px 9px;

                display: inline-flex;
                align-items: center;
                column-gap: 7px;
    
                background-color: var(--secondary-bg-color);
                border-radius: 9px;

                .icon {
                    color: var(--primary-t-color);
                }

                span {
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 1.1em;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .projectDetails {
        .project {
            .buttons {
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .projectDetails {
        .project {
            .buttons {
                justify-content: center;
            }
        }
    }
}
