@use '../../styles/colors' as *;

.check {
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
  margin: 0 16px 0 0;

  cursor: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  background-color: transparent;
  border: 2px solid var(--primary-t-color);
  border-radius: 6px;

  font: inherit;
  font-size: 16px;
  color: currentColor; 
}

.softOutline {
  border: 2px solid #54656f;
}

.check:checked {
  border: 0;
  background: #00bf6f;
}

.checkLayout {
  display: flex;
  align-items: center;
}

.label {
  margin-top: 1px;
  color: var(--primary-t-color);
}

.numLabel {
  color: #aebac1;
  margin-left: 4px;
}

@media screen and (max-width: 768px) {
  .check {
    width: 18px;
    height: 18px;
    margin: 0 8px 0 0;
  }
}
