@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;


.technologies, .technologiesMobile {
    padding: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .title {
        text-align: center;
        color: var(--primary-t-color);
        font-size: 22px;
        font-weight: 500;
    }

    .technologiesList {
        width: 70vw;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        
        .technology {
            padding: 5px 10px;
    
            display: inline-flex;
            align-items: center;
            gap: 10px;

            background-color: $primary-bg;
            border-radius: 8px;
            
            span {
                color: $primary-t;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .technologies, .technologiesMobile {
        .title {
            font-size: 29px;
        }
    }
}

@media screen and (max-width: 500px) {
    .technologies {
        padding: 40px;

        .title {
            text-align: left;
        }

        .technologiesList {
            width: 100%;      
        }
    }
}
