@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;


.technologies, .technologiesMobile {
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;

    .title {
        margin: 0;
        margin-bottom: 30px;

        font-size: 22px;
        font-weight: 600;

        color: var(--primary-t-color);
    }

    .technologiesList {
        .technology {
            width: 50px;
            height: 50px;
        }
    }
}

.technologiesMobile {
    display: none;
}

@media screen and (min-width: 1440px) {
    .technologies, .technologiesMobile {
        .title {
            font-size: 29px;
        }
    }
}

@media screen and (max-width: 425px) {
    .technologies {
        display: none;
    }

    .technologiesMobile {
        display: flex;
        padding: 0 30px;
                
        .title {
            width: 70vw;

            text-align: center;
            font-size: 26px;
        }
        
        // .technologiesList > div {
        //     transition-timing-function: linear;            
        // }
    }
}
