@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;


.certificates, .certificatesMobile {
    padding: 50px 0;
    
    justify-content: center;
    align-items: center;
    
    overflow: hidden;

    .certificatesList {
        padding: 38px 0;
    
        div:first-of-type {
            display: flex;
            align-items: center;
            
            .certificateWrap {
                width: auto;

                display: flex;
                justify-content: center;
            }
        }
    }
}

.certificates {
    display: flex;
}

.certificatesMobile {
    display: none;
}


@media screen and (max-width: 768px) {
    .certificates {
        display: none;
    }
    
    .certificatesMobile {
        display: flex;
    }
}
