@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.messageSection {
    padding: 88px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .mirage {
        width: 430px;
        height: 300px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--primary-bg-color);
        border-radius: $secondary-radius;
        text-align: center;
    }
}

.certificates {    
    display: flex;
    justify-content: center;
    align-items: center;
    
    .certificatesList {
        margin: 50px 0;
        padding: 38px;
        
        div:first-of-type {
            display: flex;
            align-items: center;
            
            .certificateWrap {
                width: auto;

                display: flex;
                justify-content: center;
            }
        }
    }
}

.certificatesList.desktop {
    display: block;
}

.certificatesList.mobile {
    display: none;
}


@media screen and (max-width: 1024px) {
    .certificates {            
        .certificatesList {
            padding: 38px 20px;    
        }        
    }
}

@media screen and (max-width: 900px) {
    .certificates {            
        .certificatesList {
            padding: 38px 0;    
        }        
    }
}

@media screen and (max-width: 768px) {
    .certificatesList.desktop {
        display: none;
    }
    
    .certificatesList.mobile {
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    .messageSection {
        .mirage {
            width: 260px;
            height: 360px;
        }
    }
}
