@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.filter {
    width: 80%;
    padding: 5px;

    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    
    .filterButton {
        width: 100%;
        padding: 5px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: var(--primary-bg-color);
        border-radius: 7px;
    
        font-size: 17px;
        line-height: 1.3em;
    
        // .filterTitle {}
    }
    
    .filterlist {
        margin-top: 10px;
        margin-left: 15px;
    
        ul {            
            li {
                margin-bottom: 10px;
                
                // .checkbox {}
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .filter {
        width: 100%;
        padding: 0;

        .filterButton {
            font-size: 22px;
        }

        .filterlist {
            ul {            
                li {
                    .checkbox {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
