@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .filterButtonClose {
        display: none;
    }
    
    .title {
        width: 180px;
        margin-top: 0;
        margin-bottom: 2px;

        font-size: 24px;
        font-weight: 700;
        // letter-spacing: 0.7px;
    }
    
    .filter {
        width: 180px;
        padding: 2px;
    
        background-color: var(--secondary-bg-color);
        border-radius: 10px;
        
        .filterButton {
            width: 100%;
            padding: 5px;
    
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            background-color: var(--primary-bg-color);
            border-radius: calc(10px - 2px);
        
            font-size: 17px;
            line-height: 1.3em;    
        }
        
        .filterlist {
            margin-top: 10px;
            margin-left: 5px;
        
            ul {            
                li {
                    margin-bottom: 10px;                
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .filters {
        display: none;

        .filterButtonClose {
            display: block;
            width: 30px;
            height: 30px;
            margin-bottom: 30px;

            position: absolute;
            top: 20px;
            right: 20px;
        }

        .title {
            width: 90%;
        }
        
        .filter {
            width: 90%;
    
            .filterButton {
                padding: 3px;
            }
            .filterlist {
                margin-left: 3px;
            }
        }
    }
    
    .filters.filtersActive {
        width: 100%;
        height: 100%;
        padding: 20px;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;

        display: flex;
        align-items: center;
        
        background-color: var(--primary-bg-color);
    }
}

@media screen and (max-width: 425px) {
    .filters {        
        

        .title {
            width: 100%;
            margin-bottom: 20px;
            font-size: 28px;
        }

        .filter {
            width: 100%;
            padding: 0;
            background-color: var(--primary-bg-color);
    
            .filterButton {
                padding: 5px;
                background-color: var(--secondary-bg-color);
                font-size: 22px;
            }
    
            .filterlist {
                ul {            
                    li {
                        .checkbox {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
