@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.hero {
    height: $block-size;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../../public/an-abstraction-background.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: center;
    
    .text {
        display: inline-block;
        width: auto;
        padding: 6px 15px;
    
        text-align: center;
        font-family: 'Rubik Mono One', monospace;
        font-weight: 500;
        font-size: 100px;
        color: $secondary-t-color;
    }
}

@media screen and (min-width: 1440px) {
    .hero {    
        .text {
            width: 80vw;
            font-size: 120px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .hero {    
        .text {
            width: auto;
            font-size: 100px;
        }
    }
}

@media screen and (max-width: 900px) {
    .hero {    
        .text {
            width: 86vw;
            font-size: 70px;
        }
    }
}

@media screen and (max-width: 425px) {
    .hero {    
        background-size: auto 100%;
        background-position-x: left;
        
        .text {
            width: 86vw;
            text-align: left;
            font-size: 50px;
        }
    }
}

@media screen and (max-width: 320px) {
    .hero {            
        .text {
            width: 86vw;
            text-align: left;
            font-size: 40px;
        }
    }
}