@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.hero {
    height: $block-size;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../../public/an-abstraction-background.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: center;
    
    .text {
        display: inline-block;
        width: 50vw;
        padding: 6px 15px;
    
        text-align: center;
        font-weight: 500;
        font-size: 60px;
        color: $secondary-t-color;
    }
}

.technologies {
    height: $block-size;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        margin: 0;
        margin-bottom: 30px;
    }

    .technologiesList {
        display: flex;
        gap: 30px;

        // .technology {

        // }
    }
}