@use "../../styles/colors" as *;

.appWrap {
    position: relative;
    padding: 10px;
    
    background-color: var(--secondary-bg-color);
    background-image: var(--image-bg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
}

@media screen and (max-width: 630px){
    .appWrap {
        background-size: auto 100vh;
    }
}

@media screen and (max-width: 425px){
    .appWrap {
        background-size: auto 100vh;
    }
}