@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.projects {
    padding: 95px 0;

    display: grid;
    grid-template-columns: 260px auto;
}

.filterButtonOpen {
    display: none;
}

.projectsListStyles {
    width: calc((26px * 2) + (3px * 3));
    margin: 0 20px 0 auto;
    padding: 3px;

    display: flex;
    justify-content: flex-end;
    gap: 3px;

    background-color: var(--primary-bg-color);
    border-radius: 7px;

    .listStylesButton {
        width: 26px;
        height: 26px;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: 250ms;
    }
    .listStylesButton:hover,
    .listStylesButton.listStylesButtonActive {
        background-color: var(--secondary-bg-color);
        border-radius: 4px;
    }
    .listStylesButton:hover {
        opacity: 0.7;
    }
}

.projectsList {
    padding: 20px;

    display: flex;
    gap: 20px; 
}
.projectsList.grid {
    flex-wrap: wrap;
    
    .project {
        width: calc(25% - (20px * 3 / 4));
        height: 200px;
    }
}
.projectsList.list {
    flex-direction: column;

    .project {
        width: 100%;
        height: 100px;
    }
}

.message {
    margin: 20px 0;
    text-align: center;
}

@media screen and (max-width: 1120px) {
    .projectsList.grid {        
        .project {
            width: calc(33.33% - (20px * 2 / 3));
            height: 180px;
        }
    }
}

@media screen and (max-width: 930px) {
    .projectsList.grid {        
        .project {
            width: calc(50% - (20px * 1 / 2));
        }
    }
}

@media screen and (max-width: 768px) {
    .projects {
        display: block;
    }

    .filterButtonOpen {
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 20px 10px auto;
    }

    .projectsList.grid {        
        .project {
            width: calc(33.33% - (20px * 2 / 3));
        }
    }
}

@media screen and (max-width: 670px) {
    .projectsList.grid {        
        .project {
            width: calc(50% - (20px * 1 / 2));
        }
    }
}

@media screen and (max-width: 500px) {
    .projectsListStyles {
        display: none;
    }

    .projectsList,
    .projectsList.grid,
    .projectsList.list {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .project {
            width: auto;
            height: 210px;
        }
    }
}
