@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.projects {
    padding: 70px 0;

    display: grid;
    grid-template-columns: 30% auto;
}

.filterButtonOpen {
    display: none;
}

.projectsList {
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .project {
        width: calc(25% - (20px * 3 / 4));
        height: 200px;

        background-color: var(--primary-bg-color);
        border-radius: 10px;
    }
}

@media screen and (max-width: 768px) {
    .projectsList {    
        .project {
            width: calc(33% - (20px * 2 / 3));
            height: 160px;
        }
    }
}

@media screen and (max-width: 425px) {
    .projects {
        display: block;
    }
    
    .filterButtonOpen {
        display: block;
        height: 30px;
        margin: 0 20px 10px auto;
    }

    .projectsList {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .project {
            width: auto;
            height: 290px;
        }
    }
}
