@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;


.certificate {
    width: 250px;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    background-color: $secondary-t-color;
    border-radius: 10px;
    transition: 0.3s;

    text-align: center;

    .certificateName {
        margin: 0;
        font-size: 24px;
    }

    .line {
        width: 50%;
        height: 2px;
        border: none;
    }

    .provider {
        font-size: 18px;
    }

    .date {
        font-size: 12px;
    }
}

.certificate.certificateActive {
    width: 320px;
    height: 420px;
    transform: none;
}


@media screen and (max-width: 425px) {

}
