@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;


.certificate {
    position: relative;
    width: 220px;
    height: 330px;
    padding: 20px;

    background-color: var(--primary-bg-color);
    border-radius: $secondary-radius;
    transition: 0.3s;
    text-align: center;
    
    .certificateHeader {
        margin-bottom: 15px;

        display: flex;
        justify-content: space-between;
        
        .brand {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    
        .provider {
            font-size: 18px;
        }
    }

    .certificateName {
        width: auto;
        margin: 0 auto;
        margin-bottom: 10px;

        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        text-align: center;
        font-size: 24px;
        font-weight: 500;
    }
    .certificateName:hover {
        span {
            text-decoration: 1px solid;
            text-decoration-color: var(--primary-t-color);
            text-decoration-line: underline;
        }
    } 

    .line {
        width: 100%;
        height: 1px;
        margin: 0;
        border: none;
    }

    .descriptionList {
        margin-top: 10px;
        margin-left: 8px;

        display: flex;
        flex-direction: column;
        gap: 3px;
        text-align: left;

        .description {
            padding-left: 5px;

            list-style-type: disc;
            list-style-position: outside;
            text-align: left;
            font-size: 14px;
            line-height: 1.15;
        }

        .description::marker {
            content: '•';

            font-size: 14px;
            line-height: 1.15;
        }
    }

    .date {
        position: absolute;
        left: 15px;
        bottom: 10px;

        font-size: 12px;
    }
}


@media screen and (max-width: 768px) {
    .certificate {
        width: 260px;
        height: 360px;

        .certificateHeader {
            .provider {
                font-size: 16px;
            }
        }

        .certificateName {
            font-size: 20px;
        }   
        
        .descriptionList {
            .description {
                font-size: 15px;
            }
    
            .description::marker {
                font-size: 15px;
            }
        }
    
        .date {
            font-size: 12px;
        }
    }
}
