@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;


.leftPartOfBlock, .rightPartOfBlock {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.leftPartOfBlock {
    flex-direction: column;
    gap: 30px;
}

// ------------------------------------------------------- HERO
.hero {
    height: $block-size;

    display: flex;
    justify-content: space-between;
    // align-items: center;

    background-color: #672D50;

    .leftPartOfBlock {
        gap: 15px;
        
        .name, .position, .profile {
            display: inline-block;
            width: 60%;
            margin: 0;
        
            border-radius: 10px;
            color: var(--secondary-t-color);
        
            line-height: 1.2em;
        }
        
        .name {
            font-size: 30px;
        }
        
        .position {
            font-size: 26px;
        }
        
        .profile {
            margin-top: 20px;
            font-size: 16px;
        }
    }
}

.portrait {
    width: 40ch;
    height: 40ch;

    border-radius: 30px;
}

// .rightPartOfHero {
// }

// ------------------------------------------------------- CERTIFICATES


// ------------------------------------------------------- CONTACTS
.contacts {
    height: 50vh;

    display: flex;
    justify-content: center;
    gap: 30vh;
    
    .leftPartOfBlock, .rightPartOfBlock {
        width: auto;
    }
    
    .leftPartOfBlock {
        align-items: flex-start;
        gap: 10px;
    }
}

.email, .phone {
    display: inline-block;

    border-radius: 10px;
    color: var(--primary-t-color);

    font-size: 16px;
    font-weight: 400;
}

.resumes {
    .resumesTitle {
        margin:10px 0 10px 0;
        font-size: 20px;
        font-weight: 600;
    }

    .resumesList {
        display: flex;
        justify-content: space-between;
        gap: 15px;
    
        .resume {
            width: 50px;
            height: 50px;
    
            display: flex;
            justify-content: center;
            align-items: center;
    
            border-radius: 10px;
            color: var(--secondary-t-color);
        }
    }
}

.links {
    padding: 15px 20px;

    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px;
    gap: 20px;

    background-color: var(--secondary-bg-color);
    border-radius: 10px;

    .link {
        width: 50px;
        height: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1440px) {
    .hero {
        .leftPartOfBlock {
            .name, .position, .profile {
                width: 80%;
            }
            
            .name {
                font-size: 36px;
            }
            
            .position {
                font-size: 32px;
            }
            
            .profile {
                margin-top: 20px;
                font-size: 22px;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    // ------------------------------------------------------- HERO MPBILE
    .hero {
        height: auto;
        padding: 40px;

        flex-direction: column-reverse;
        justify-content: center;
        gap: 20px;

        .leftPartOfBlock, .rightPartOfBlock {
            width: 100%;        
        }

        .leftPartOfBlock {
            align-items: flex-start;
       
            .name, .position, .profile {
                width: 100%;
            }
    
            .name, .position {
                text-align: center;
            }
    
            .name {
                font-size: 30px;
            }
    
            .position {
                font-size: 28px;
            }
    
            .profile {
                font-size: 22px;
                font-weight: 300;
            }
        }

        .portrait {
            width: 17ch;
            height: 17ch;
        
            border-radius: 50%;
        }
    }

    // ------------------------------------------------------- CONTACTS
    .contacts {
        height: auto;
        padding-bottom: 40px;

        flex-direction: column-reverse;
        justify-content: flex-start;
        gap: 40px;
    
        .leftPartOfBlock {
            align-items: center;
        }
    }
    
    .email, .phone {
        width: 80vw;
        font-size: 17px;
    }

    .resumes {
        width: 80vw;

        .resumesTitle {
            font-size: 21px;
        }

        .resumesList {
            justify-content: flex-start;
        }
    }

    .links {
        width: 100vw;
        padding: 25px 0;
    
        display: flex;
        justify-content: center;
    
        border-radius: 0;    
    }
}
