@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;


.leftPartOfBlock, .rightPartOfBlock {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.leftPartOfBlock {
    flex-direction: column;
    gap: 30px;
}

// ------------------------------------------------------- HERO
.hero {
    height: $block-size;

    display: flex;
    justify-content: space-between;
    // align-items: center;

    background-color: #672D50;

    .leftPartOfBlock {
        gap: 15px;
    }
}

.name, .position, .profile {
    display: inline-block;
    width: 60%;
    margin: 0;

    border-radius: 10px;
    color: $secondary-t-color;

    line-height: 1.2em;
}

.name {
    font-size: 30px;
}

.position {
    font-size: 26px;
}

.profile {
    margin-top: 20px;
    font-size: 16px;
}

.portrait {
    width: 40ch;
    height: 40ch;

    border-radius: 30px;
}

// .rightPartOfHero {
// }

// ------------------------------------------------------- CERTIFICATES


// ------------------------------------------------------- CONTACTS
.contacts {
    height: 50vh;

    display: flex;
    justify-content: center;
    gap: 30vh;
}

.email, .phone {
    display: inline-block;

    border-radius: 10px;
    color: $primary-t-color;

    font-size: 20px;
}

.leftPartOfContacts, .rightPartOfContacts {
    width: auto;
}

.leftPartOfContacts {
    align-items: flex-start;
    gap: 10px;
}

.resumes {
    .resumesTitle {
        font-size: 20px;
    }

    .resumesList {
        margin-top: 15px;
        
        display: flex;
        justify-content: space-between;
        gap: 15px;
    
        .resume {
            width: 50px;
            height: 50px;
    
            display: flex;
            justify-content: center;
            align-items: center;
    
            border-radius: 10px;
            color: $secondary-t-color;
        }
    }
}

.links {
    padding: 15px 20px;

    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px;
    gap: 20px;

    background-color: $secondary-b-color;
    border-radius: 10px;

    .link {
        width: 50px;
        height: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 425px) {
    // ------------------------------------------------------- HERO MPBILE
    .hero {
        padding: 40px;

        flex-direction: column-reverse;
        justify-content: center;
        gap: 20px;

        .leftPartOfBlock, .rightPartOfBlock {
            width: 100%;        
        }

        .leftPartOfBlock {
            align-items: flex-start;
        }

        .name, .position, .profile {
            width: 100%;
        }

        .name, .position {
            text-align: center;
        }

        .name {
            font-size: 30px;
        }

        .position {
            font-size: 28px;
        }

        .profile {
            font-size: 22px;
            font-weight: 300;
        }

        .portrait {
            width: 17ch;
            height: 17ch;
        
            border-radius: 50%;
        }
    }

    // ------------------------------------------------------- CONTACTS
    .contacts {
        height: auto;
        padding-top: 30px;

        flex-direction: column;
        justify-content: flex-start;
        gap: 40px;
    }

    .leftPartOfContacts {
        align-items: center;
    }
    
    .email, .phone {
        width: 80vw;
    }

    .resumes {
        width: 80vw;

        .resumesList {
            justify-content: flex-start;
        }
    }

    .links {
        width: 100vw;
        padding: 15px 0;
    
        display: flex;
        justify-content: center;
    
        border-radius: 0;    
    }
}
