@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;


.leftPartOfBlock, .rightPartOfBlock {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.leftPartOfBlock {
    flex-direction: column;
    gap: 30px;
}

// ------------------------------------------------------- HERO
.hero {
    height: $block-size;

    display: flex;
    justify-content: space-between;
    // align-items: center;

    background-color: #672D50;

    .leftPartOfBlock {
        gap: 15px;
    }
}

.name, .position, .profile {
    display: inline-block;
    width: 60%;
    margin: 0;

    border-radius: 10px;
    color: $secondary-t-color;

    line-height: 1.2em;
}

.name {
    font-size: 30px;
}

.position {
    font-size: 26px;
}

.profile {
    margin-top: 20px;
    font-size: 16px;
}

.portrait {
    width: 40ch;
    height: 40ch;

    border-radius: 30px;
}

// .rightPartOfHero {
// }

// ------------------------------------------------------- CERTIFICATES
.certificates {
    height: $block-size;

    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
    background-color: $primary-b-color;
    
    .certificatesWrap {
        padding: 38px 0;
    
        .certificate {
            width: 320px;
            height: 420px;
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
    
            background-color: #FFFFFF;
            border-radius: 10px;
    
            text-align: center;
    
            .certificateName {
                margin: 0;
                font-size: 24px;
            }
    
            .line {
                width: 50%;
                height: 2px;
                border: none;
            }
    
            .provider {
                font-size: 18px;
            }
    
            .date {
                font-size: 12px;
            }
        }
    }
}


// ------------------------------------------------------- CONTACTS
.contacts {
    height: $block-size;

    display: flex;
    justify-content: center;
    gap: 30vh;
}

.email, .phone {
    display: inline-block;

    border-radius: 10px;
    color: $primary-t-color;

    font-size: 20px;
}

.leftPartOfContacts, .rightPartOfContacts {
    width: auto;
}

.leftPartOfContacts {
    align-items: flex-start;
    gap: 10px;
}

.resumes {
    .resumesTitle {
        font-size: 20px;
    }

    .resumesList {
        margin-top: 15px;
        
        display: flex;
        justify-content: space-between;
        gap: 15px;
    
        .resume {
            width: 50px;
            height: 50px;
    
            display: flex;
            justify-content: center;
            align-items: center;
    
            border-radius: 10px;
            color: $secondary-t-color;
        }
    }
}

.links {
    padding: 15px 20px;

    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px;
    gap: 20px;

    background-color: $secondary-b-color;
    border-radius: 10px;

    .link {
        width: 50px;
        height: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

