$primary-bg: #E5C457;
$primary-bg-dark: #69235B;
$secondary-bg: #F5F5F5;
$secondary-bg-dark: #F5F5F5;

// $primary-t: #1D1A39;
$primary-t: #000000;
$primary-t-dark: #FFFFFF;
$secondary-t: #FFFFFF;
$secondary-t-dark: #000000;

@mixin light-theme {
    --primary-bg-color: #{$primary-bg};
    --secondary-bg-color: #{$secondary-bg};

    --primary-t-color: #{$primary-t};
    --secondary-t-color: #{$secondary-t};

    --image-bg: #{url('../public/an-abstraction-background-light.png')};
}

@mixin dark-theme {
    --primary-bg-color: #{$primary-bg-dark};
    --secondary-bg-color: #{$secondary-bg-dark};

    --primary-t-color: #{$primary-t-dark};
    --secondary-t-color: #{$secondary-t-dark};

    --image-bg: #{url('../public/an-abstraction-background.png')};
}

@mixin detirmine-theme {
    [data-theme='light'] {
        @include light-theme;
    }
    
    [data-theme='dark'] {
        @include dark-theme;
    }

    [data-theme='auto'] {
        @include light-theme;
    }

    // [data-theme] {
    //     @include light-theme;
    // }
}
