$primary-bg: #FFFAFA;
$primary-bg-dark: #0B0B0B;
$secondary-bg: #F5C63C;
$secondary-bg-dark: #925FF0;

$primary-t: #0B0B0B;
$primary-t-dark: #FFFAFA;
$secondary-t: #F5C63C;
$secondary-t-dark: #925FF0;

@mixin light-theme {
    --primary-bg-color: #{$primary-bg};
    --secondary-bg-color: #{$secondary-bg};

    --primary-t-color: #{$primary-t};
    --secondary-t-color: #{$secondary-t};

    --image-bg: #{url('../public/an-abstraction-background-light.png')};
}

@mixin dark-theme {
    --primary-bg-color: #{$primary-bg-dark};
    --secondary-bg-color: #{$secondary-bg-dark};

    --primary-t-color: #{$primary-t-dark};
    --secondary-t-color: #{$secondary-t-dark};

    --image-bg: #{url('../public/an-abstraction-background.png')};
}

@mixin detirmine-theme {
    [data-theme='light'] {
        @include light-theme;
    }
    
    [data-theme='dark'] {
        @include dark-theme;
    }
}
