@use "./colors" as *;
@use "./fonts" as *;
@use "./mixins" as *;

* {
    box-sizing: border-box;
}

html, body {
    position: relative;
    margin: 0;
    padding: 0;
}

:root {
    @include detirmine-theme;
}

body {
    min-height: 100vh;
    color: var(--primary-t-color);
}

main {
    position: relative;
    min-height: calc(100vh - 36px - 200px);
    margin-top: 50px;
}

p, a, img, ul, li, button {
    margin: 0;
    padding: 0;
    color: var(--primary-t-color);
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}
