@use "./colors" as *;

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: $primary-t-color;
}

main {
    min-height: calc(100vh - 50px - 200px);
    margin-top: 50px;
}

p, a, img, ul, li, button {
    margin: 0;
    padding: 0;
    color: $primary-t-color;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}
