body {
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    box-sizing: border-box;
    min-height: calc(100vh - 50px - 200px);
}

p {
    margin: 0;
    padding: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}